<div class="w-full h-full flex justify-center mt-8 px-4">
  <div class="w-full max-w-5xl">
    <div class="max-w-2xl mx-auto">
      <h2 class="py-2 uppercase">
        Explore
      </h2>
      <ng-container *ngIf="(marketData$ | async) as marketDataRes">
        <ng-container *ngIf="marketDataRes.value as marketData">
          <div class="flex flex-col divide-y-2">
            <div *ngFor="let item of marketData"
                 class="px-1 py-2">
              <div class="flex justify-between">
                <div class="flex gap-4 flex-wrap">
                  <div class="hidden sm:block w-12 h-12 bg-white rounded-full overflow-hidden">
                    <img class="h-full w-full object-contain"
                         src="/assets/stock.png"
                         alt="Logo">
                  </div>
                  <div class="self-center">
                    <span class="font-semibold">
                      {{ item.symbol }}
                    </span>
                    <div class="text-xs">
                      {{ item.name }}
                    </div>
                  </div>
                </div>

                <div class="flex gap-4 items-center">
                  <div class="font-semibold text-right"
                       [ngClass]="item.priceChange24h < 0 ? 'text-red-500' : 'text-green-600'">
                    <div class="">
                      {{ (item.price * item.priceChange24h) | currencyDefault }}
                    </div>
                    <div class="flex text-xs items-center gap-1">
                      <svg width="8" height="4" viewBox="0 0 8 4" fill="currentColor" stroke="currentColor"
                           [ngClass]="item.priceChange24h < 0 ? 'rotate-180' : 'rotate-0'"
                           xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 4L8 4L4 3.65565e-07L0 4Z"/>
                      </svg>
                      <span class="">
                        ({{ item.priceChange24h  | percent:'1.2-2' }})
                      </span>
                    </div>
                  </div>

                  <div class="w-16 text-right">
                    <span class="font-semibold">
                      {{ item.price | currencyDefault }}
                    </span>
                  </div>

                  <div class="">
                    <button class="bg-blue-900 text-white px-2 py-2 rounded-full
                                   text-xs uppercase"
                            [routerLink]="('/buy/' + item.id) | networkPath">
                      <svg xmlns="http://www.w3.org/2000/svg"
                           class="sm:hidden h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"/>
                      </svg>

                      <span class="hidden sm:inline px-4 font-semibold">
                        Place order
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="marketDataRes.error">
          Cannot fetch marketData.
          <div hidden>{{ marketDataRes.error | json }}</div>
        </ng-container>

        <ng-container *ngIf="marketDataRes.loading">
          <app-spinner type="overlay">Loading market data</app-spinner>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
