<div class="w-full h-full flex justify-center mt-8 px-4">
  <div class="w-full max-w-2xl mx-auto">
    <ng-container *ngIf="(pending$ | async) as pendingRes">
      <ng-container *ngIf="pendingRes.value as pendingData">
        <ng-container *ngIf="pendingData.length !== 0">
          <h2 class="py-2 uppercase">
            Pending orders
          </h2>

          <div class="flex flex-col divide-y-2">
            <div *ngFor="let item of pendingData"
                 class="px-1 py-2">
              <div class="flex justify-between gap-2">
                <div class="flex gap-4 flex-wrap">
                  <div class="hidden sm:block w-12 h-12 bg-white rounded-full overflow-hidden">
                    <img class="h-full w-full object-contain"
                         src="/assets/stock.png"
                         alt="Logo">
                  </div>
                  <div class="self-center">
                    <span class="font-semibold">
                      {{ item.item.stockSymbol }}
                    </span>
                    <div class="text-xs">
                      {{ item.item.stockName }}
                    </div>
                  </div>
                </div>

                <div class="flex gap-4 flex-wrap items-center">
                  <div class="text-right">
                    <span class="font-semibold">
                      <ng-container *ngIf="item.item.orderType === orderType.BUY">
                        Settling buy order for {{ item.item.amount | formatUnit:'bignumToWei' | currencyDefault }}
                      </ng-container>

                      <ng-container *ngIf="item.item.orderType === orderType.SELL">
                        Settling sell order for {{ item.item.amount | formatUnit:'bignumToWei' }} share(s)
                      </ng-container>

                      <app-spinner type="inline-xs"></app-spinner>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="pendingRes.error">
        Cannot fetch pending orders.
        <div hidden>{{ pendingRes.error | json }}</div>
      </ng-container>

      <ng-container *ngIf="pendingRes.loading">
      </ng-container>
    </ng-container>

    <h2 class="py-2 uppercase">
      In your portfolio
    </h2>

    <ng-container *ngIf="(portfolio$ | async) as portfolioRes">
      <ng-container *ngIf="portfolioRes.value as portfolioData">
        <div class="flex flex-col divide-y-2">
          <div *ngFor="let item of portfolioData"
               class="px-1 py-2">
            <div class="flex justify-between">
              <div class="flex gap-4 flex-wrap">
                <div class="hidden sm:block w-12 h-12 bg-white rounded-full overflow-hidden">
                  <img class="h-full w-full object-contain"
                       src="/assets/stock.png"
                       alt="Logo">
                </div>
                <div class="self-center">
                  <div class="flex items-center font-semibold">
                    <span>{{ item.item.stockSymbol }}</span>
                    <app-explorer-link [value]="item.item.stockAddress" type="token"
                                       class="ml-0.5">
                    </app-explorer-link>
                    <app-add-to-metamask [value]="item.item.stockAddress"
                                         class="ml-0.5">
                    </app-add-to-metamask>
                  </div>
                  <div class="text-xs">
                    {{ item.item.stockName }}
                  </div>
                </div>
              </div>

              <div class="flex gap-4 items-center">
                <div class="text-right flex flex-col">
                  <span class="font-semibold">
                    {{ item.item.balance | formatUnit:'bignumToWei' | number }}
                  </span>
                  <span class="text-xs">
                    Shares
                  </span>
                </div>

                <div class="">
                  <button class="bg-blue-900 text-white px-2 py-2 rounded-full
                                   text-xs uppercase"
                          [routerLink]="('/sell/' + item.item.stockId) | networkPath">
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor"
                         class="sm:hidden h-4 w-4">
                      <path
                        d="M16 11V7c0-1.06087-.4214-2.07828-1.1716-2.82843C14.0783 3.42143 13.0609 3 12 3c-1.0609 0-2.07828.42143-2.82843 1.17157C8.42143 4.92172 8 5.93913 8 7v4h8ZM5 9h14l1 12H4L5 9Z"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M23 1 1 23" stroke-width="2" stroke-linecap="round"/>
                    </svg>

                    <span class="hidden sm:inline px-4 font-semibold">
                      Sell
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <ng-container *ngIf="portfolioData.length === 0">
          <div class="flex justify-center py-4">
            Your portfolio is empty.
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="portfolioRes.error">
        Cannot fetch portfolio data.
        <div hidden>{{ portfolioRes.error | json }}</div>
      </ng-container>

      <ng-container *ngIf="portfolioRes.loading">
        <app-spinner type="overlay">
          Loading portfolio data
        </app-spinner>
      </ng-container>
    </ng-container>
  </div>
</div>
