<div class="bg-indigo-50 min-h-full w-full">
  <div class="px-4 py-2 max-w-screen-lg mx-auto">
    <div class="flex flex-col items-center gap-2 mt-8">
      <div>
        <img class="h-full py-1 object-contain" src="/assets/pon.png" alt="Logo">
      </div>

      <div class="flex text-center text-2xl text-indigo-900">
        Welcome to paradise
      </div>
      <app-select-network class="mt-4"></app-select-network>

      <button (click)="enterNetwork()"
              class="flex items-center justify-center gap-8 bg-blue-900 disabled:bg-gray-400 text-white
                     px-24 py-2 rounded-full">
        Go
      </button>
    </div>
  </div>
</div>
